<h1> <%= @task.title %> </h2>

<h3> <%= @task.details %> </h3>

<% if @task.completed %>
  <i class="fas fa-check-square"></i> This task is completed yet
<% else %>
  <i class="far fa-square"></i> Not complete yet
<% end %>

<%= link_to "edit your task", edit_task_path %>

<%= link_to tasks_path, class: "btn btn-primary" do %>
  <i class="fas fa-caret-square-left"></i>
  back to <strong>all</strong> tasks
<% end %>
